@media only screen and (max-width: 767px) {

	/*------- Timeline CSS Starts -------*/

.bg-timeline { padding: 15px 15px 0; }
.timeline-heading > h1 { font-size: 2.4rem; margin-bottom: 30px; padding-bottom: 15px; }
.timeline-listing:after,
.timeline-circle { display: none; }
.left-timeline-content,
.right-timeline-content { float: none; width: 100%; }
.timeline-content > h3 { font-size: 1.8rem; }
.left-timeline-content > h3 { text-align: left; }
.left-timeline-content > h3:after { left: 0; right: auto; }
.timeline-content > p { font-size: 1.4rem; text-align: justify; }

	/*------- Timeline CSS Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/*------- Timeline CSS Starts -------*/

.bg-timeline { padding: 30px 15px; }
.timeline-heading > h1 { font-size: 3rem; }

	/*------- Timeline CSS Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/*------- Timeline CSS Starts -------*/

.bg-timeline { padding: 30px 15px; }

	/*------- Timeline CSS Ends -------*/

}